<%= erb(:_errors) %>

<div id="new-question">
  <form id="question-form" action="/questions" method="post">
    <label class="question">Question Title</label>
    <input class="full-length" type="text" name="question[title]" placeholder="Having a problem with AJAX">
    <label class="question">Question Details</label>
    <textarea type="text" name="question[body]" placeholder="Put your question details here!"></textarea>
    <input id="styled-button" type="submit" value="Submit">
  </form>
</div>
