<%= erb(:_errors) %>
<form action="/comments" method="post">
  <input type="text" name="body" placeholder="Put your comment here!"></br>
  <input type = "hidden" name="commentable_id" value="<%= @answer.id %>">
  <input type = "hidden" name="commentable_type" value="<%= @answer.class %>">
  <input type="submit" class="button" value="Submit">
</form>
