* {
  font-family: helvetica, arial, sans-serif;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-item {
    width: 95%;
    margin-right: 20px;
}

main {
  padding: 0px 30px 0px 30px;
}

div.logo-container {
  display: block;
  padding: 20px 10px 20px 20px;
}

span.logo-text {
  font-family: "Arial Black", arial, sans-serif;
  font-size: 40px;
  color: #FF9A1E;
}

img.logo-img {
  height: 40px;
  vertical-align: top;
}

h1 {
  padding-top: 15px;
}

h3 {
  display: inline-block;
}

#section-top {
  border-top: 3px solid rgba(0,149,255,.1);
  width: 100%;
}

#new-question {
  display: inline-block;
  float: right;
  padding-top: 18px;
}

article {
  text-align: left;
  border-top: 1px solid #D3D3D3;
  padding: 30px;
  margin-right: 20px;
}

div.metrics-container {
  display: inline-block;
  margin: 0;
  padding-top: 12px;
}

div.stat {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0px 20px 0 20px;
}

div.count {
  font-size: 20px;
}

div.mini-label {
  font-size: 12px;
}

div.question-details-container {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

div.question-text {
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

div.question-date {
  padding: 5px 20px 0px 20px;
  font-size: 12px;
}

div.question-author {
  padding: 5px 20px 0px 20px;
  font-size: 12px;
}

#advert {
  position: absolute;
  right: 20px;
  display:inline-block;
  vertical-align: top;
  margin-top: 60px;
}

.hidden {
  display: none;
}

#login {
  display: flex;
  width: 100%;
  font-size: 18px;
}

#login-form {
  width: 50%;
  margin: auto;
}

#register {
  display: flex;
  width: 100%;
  font-size: 18px;
}

#register-form {
  width: 50%;
  margin: auto;
}

#new-question {
  display: flex;
  width: 100%;
  font-size: 18px;
}

#question-container {
  text-align: center;
}

#voting-container {
  vertical-align: top;
  display: inline-block;
  padding: 0px 20px 0px 20px;
}

img.arrow {
  width: 20px;
  height: auto;
}

#question-body {
  vertical-align: top;
  display: inline-block;
  width: 90%;
}

#author-info {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  background-color: grey;
  color: white;
}

a.question-comment-link {
  display: block;
  padding: 20px;
}

#question-form {
  width: 50%;
  margin: auto;
}

form input.full-length {
  box-sizing: border-box;
  margin: 5px 0;
  width: 100%;
  padding: 10px;
}

form textarea {
  box-sizing: border-box;
  margin: 5px 0;
  width: 100%;
  border: 1px solid #d3d3d3;
  padding: 10px;
  height: 200px;
  vertical-align: top;
}

label.login {
  padding: 10px 0px 10px 0px;
}

label.register {
  padding: 10px 0px 10px 0px;
}

label.question {
  padding: 10px 0px 10px 0px;
}

#styled-button {
  margin-left: 15%;
  background-color: #0095FF;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px;
  width: 70%;
  text-align: center;
}

@media screen and (max-width:860px) {
  #advert {display: none;}
}

@media screen and (max-width:500px) {
  ul.topnav li {display: none;}
  ul.topnav li:nth-last-child(2){display: block;}
  ul.topnav li {float: left;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  h3 {text-align: center;}
  article {text-align: center;}
  div.question-text {padding-top: 20px}
}

@media screen and (max-width:500px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  h3 {text-align: center;}
  article {text-align: center;}
  }
}

a:link { text-decoration: none; color: #0095FF; border: 0px; -moz-outline-style: none;}
a:active { text-decoration: underline; color: #0095FF; border: 0px; -moz-outline-style: none;}
a:visited { text-decoration: none; color: #0095FF; border: 0px; -moz-outline-style: none;}
a:hover { text-decoration: underline; color : #000; border: 0px; -moz-outline-style: none;}
a:focus { outline: none;-moz-outline-style: none;}

.best-answer-container {
  width: 100%;
}

.best-answer-comments {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 10px;
  list-style-type: none;
}

.answer-box {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: 0;
  width: 100%;
  border: 1px solid black;
  padding: 20px;
}

.upvote { color: orange; text-decoration: none; }
.upvote span { display: none; }
/*.upvote:after { content: '⬆'; }*/
.downvote { color: lightblue; text-decoration: none; }
.downvote span { display: none; }
/*.downvote:after { content: '⬇'; }*/
.question_comments li { list-style: none; border-bottom: 1px solid #ccc; padding: 4px; }
.best-answer-comments li { list-style: none; border-bottom: 1px solid #ccc; padding: 4px; }
.answer_comments li { list-style: none; border-bottom: 1px solid #ccc; padding: 4px; }
.ballot { width: 100px; padding-left: 10px; float: right; }
.comment-body cite{ color: gray; font-size: 12px; }
.comment-body cite:before{ content: " - "; }
