<%= erb(:_errors) %>

<form id="login-form" action="/login" method="post">
  <fieldset>
    <legend>Log In</legend>
    <input type="email" name="user[email]" placeholder="Email Address">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Sign In">
  </fieldset>
</form>
