<%= erb(:_errors) %>

<div id='login'>
  <form id="login-form" action="/login" method="post">
      <label class="login">Email</label>
      <input class="full-length" type="email" name="user[email]" placeholder="you@example.org">
      <label class="login">Password</label>
      <input class="full-length" type="password" name="user[password]" placeholder="Password">
      <input id="styled-button" type="submit" value="Sign In">
  </form>
</div>
