<%= erb(:_errors) %>

<div id="register">
  <form id="register-form" action="/register" method="post">
      <label class="register">Username</label>
      <input class="full-length" type="text" name="user[username]" placeholder="J. Doe">
      <label class="register">Email Address</label>
      <input class="full-length" type="email" name="user[email]" placeholder="you@example.org">
      <label class="register">Password</label>
      <input class="full-length" type="password" name="user[password]" placeholder="*********">
      <input id="styled-button" type="submit" value="Register">
  </form>
</div>
